/* Header css */
.nav-list li{list-style-type: none;padding: 0 15px;font-family: 'ProximaNova-Semibold';font-size: 14px;}
.nav-list li a{color: #1E1E1E;text-decoration: none;}
.nav-list li.active a{color: #F7A823;position: relative;}
.nav-list li.active a::before{width: 100%;
  height: 5px;
  background: #F7A823;
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';}
.nav-list li a:hover{text-decoration: none;}
.logo-blk {
  width: 115px;
}

.nav {
  background-color: #FFFFFF;
  width: 100%;
}
.header-left {
  flex: 0 0 79%;
  max-width: 79%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;justify-content: space-between;
}
.header-wrapper {
  display: flex;align-items: center;justify-content: space-between;
  height: 100px;
  width: 100%;
  color: #1E1E1E;
}
.header-sect{box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.02) !important;}
.profile-menu-item p{font-size: 14px;color:#1E1E1E;font-family: 'ProximaNova-Regular';}
.profile-menu-item .css-6hp17o-MuiList-root-MuiMenu-list{padding: 0 !important;}
.nav-list-right {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.user-img{width: 48px;height: 48px;border-radius: 100%;margin-right: 10px;background: #4d6073;display: flex;justify-content: center;align-items: center;box-shadow: 0 3px 6px rgba(0,0,0,0.16);}
.user-name-txt{color: #FFFFFF;font-size: 14px;font-family: 'ProximaNova-Semibold';text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);}
.user-info span{display: flex;align-items: center;line-height: 10px;cursor: pointer;}
.user-name{color: #1D354D;font-family: 'ProximaNova-Bold';}
.user-info {margin: 8px 0 0;}
.super-admin-arrow svg{transition: 0.5s ease;}
.super-admin-arrow.active svg{transform: rotate(180deg);}