* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-size: 14px;
  font-family: 'ProximaNova-Regular';
  color: #1E1E1E;
  background: #F4F7FC;

}

img {
  vertical-align: top !important;
  display: inline-block !important;
  max-width: 100%;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

h3 {

  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.container {

  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-uppercase {
  text-transform: uppercase;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./assets/fonts/ProximaNova-Regular.eot');
  src: url('./assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
    url('./assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('./assets/fonts/Proxima Nova Semibold.eot');
  src: url('./assets/fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Proxima Nova Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('./assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
    url('./assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./assets/fonts/ProximaNova-Bold.eot');
  src: url('./assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
    url('./assets/fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(30, 30, 30, 0.5) !important;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: rgba(30, 30, 30, 0.5) !important;
  opacity: 1 !important;
}

::placeholder {
  color: rgba(30, 30, 30, 0.5) !important;
  opacity: 1 !important;
}

.primary-button {
  background: #F7A823;
  color: #F4F7FC;
  padding: 14px 28px;
  font-size: 14px;
  line-height: 14px;
  height: 45px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  text-transform: capitalize;
  font-family: 'ProximaNova-Semibold';
  border: 1px solid #F7A823;
  cursor: pointer;
}

.primary-button:hover {
  background: #D98C08;
  color: #F4F7FC;
}

.secondary-button {
  background: #E0E0E0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  color: #707070;
  padding: 14px 28px;
  font-size: 14px;
  line-height: 14px;
  height: 45px;
  border-radius: 3px;
  text-transform: capitalize;
  font-family: 'ProximaNova-Semibold';
  border: none;
  cursor: pointer;
}

.secondary-button:hover {
  background: #CCCCCC;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.owl-carousel .fadeIn {
  animation-name: fadeIn
}

.logo {
  width: 160px;
  margin-bottom: 40px;
}

.heading1 {
  color: #F7A823;
  font-family: 'ProximaNova-Bold';
  font-size: 18px;
  line-height: 18px;
}

.heading2 {
  font-family: 'ProximaNova-Semibold';
  margin: 0;
  font-size: 18px;line-height: 18px;
}


.form-header {
  padding: 0 0 30px;
  border-bottom: 1px solid #1E1E1E;
}

.form-header-right-txt {
  /* color: #F7A823;
  font-family: 'ProximaNova-Semibold';
  font-size: 16px; */
  display: flex;align-items: center;
}
.download-icon {
  margin: 5px 0 0;
}
.download-icon svg {
  font-size: 16px;
  margin-right: 3px;
}
.tertiary-btn-blk {
  display: flex;
  align-items: center;
  color: #F7A823;
  font-family: 'ProximaNova-Semibold';
  font-size: 14px;cursor: pointer;
}
.tertiary-btn-blk:hover{color: #D98C08;}
.card-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 3px 15px #00000029;
  border-radius: 3px;
  padding: 30px;
  margin: 30px 0;
}

.card-form-field {
  flex: 0 0 46%;
  max-width: 46%;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-40{margin-right: 40px;}
.mt-30{margin-top: 30px;}
/* .card-blk .primary-button {
  padding: 0 20px;
} */

.add-members-btn {
  flex: 1;
  justify-content: flex-end;
  flex: 0 0 100%;
  max-width: 100%;
}

.form-group>select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  outline: 0;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  line-height: inherit;
  background-image: none;
  padding: 0 15px;
  height: 45px;
  border: 1px solid rgba(30, 30, 30, 0.15);
  font-size: 14px;
  color: #1E1E1E80;
}

.select-field select {
  width: 100%;
  padding: 0 15px;
  border-radius: 3px;
  background: transparent;
  height: 45px;
  border: 1px solid rgba(30, 30, 30, 0.15);
  font-size: 14px;
  color: #1E1E1E80;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
}

input:disabled,
select:disabled {
  background: rgba(30, 30, 30, 0.1) !important;
  border-color: rgba(30, 30, 30, 0.5) !important;
}

.select-field {
  position: relative;
}

.select-field::before {
  font-size: 14px;
  content: '\f078';
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: "FontAwesome";
  pointer-events: none;
  z-index: 1;
}

.addmore-icon {
  width: 17px;
  height: 17px;
  border: 1px solid #F7A823;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.addmore-icon i {
  font-size: 11px;
}

/* Login */
.form-group {
  padding: 0;
  margin-bottom: 40px;
}

.mandatory {
  color: #E53850;
}

.form-group>label {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  position: relative;
  color: #1E1E1E;
  font-size: 14px;
}

.form-group>input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  outline: 0;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  line-height: inherit;
  background-image: none;
  padding: 0 15px;
  height: 45px;
  border: 1px solid rgba(30, 30, 30, 0.15);
  font-size: 14px;
  color: #1E1E1E80;
}


/* Breadcrumb css */
ul.breadcrumb {
  padding: 30px 15px 30px 0;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  font-family: 'ProximaNova-Semibold';
  color: #1D354D;
}

ul.breadcrumb li+li:before {
  padding: 10px 6px;
  color: #1D354D;
  content: "\f054";
  font-family: "FontAwesome";
  font-size: 11px;
}

ul.breadcrumb li a {
  color: #1D354D;
  text-decoration: none;
  font-family: 'ProximaNova-Regular'
}

ul.breadcrumb li a:hover {
  color: #1D354D;
  text-decoration: none;
}


.MuiTextField-root {
  width: 100%;
}

.MuiInputBase-input {
  height: 45px !important;
  padding: 0 15px !important;
  font-size: 14px !important;
  color: #1E1E1E !important;font-family: 'ProximaNova-Regular' !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(18px, 13px) scale(1) !important;
  font-size: 14px !important;
}

.Mui-focused {
  transform: initial !important;
  font-size: 14px !important;
  border-width: 0 !important;
}

.input-field fieldset, .dropdown-field fieldset {
  top: -5px !important;
  border-width: 1px !important;
  bottom: auto !important;
  height: 50px;
  left: 0 !important;
  width: 100%;
  overflow: visible !important;
  border-radius: 3px !important;
  border-color: rgba(30, 30, 30, 0.5) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #4596D1 !important;
}

.input-field:hover fieldset, .dropdown-field:hover fieldset, .searchbar input:hover {
  border-color: rgba(30, 30, 30, 0.8)!important;
}

.MuiSelect-select {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  color: #1E1E1E !important;
  background: #fff !important;font-family: 'ProximaNova-Regular' !important;
}

.select-field .MuiInputBase-root {
  width: 100%;
}

.css-yf8vq0-MuiSelect-nativeInput {
  height: 45px;
}

.Mui-disabled {
  border-color: rgba(30, 30, 30, 0.15) !important;
  cursor: not-allowed !important;
}
.Mui-disabled > fieldset{border-color: rgba(30, 30, 30, 0.5) !important;}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 14px !important;
  padding: 5px 15px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 15px 0 0 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background: #e1e1e1 !important;
}

.MuiPaper-root {
  box-shadow: 0px 3px 15px #0000004D !important;
}

.select-field svg {
  display: none;
}

select:focus {
  border: 1px solid #4596D1;
}


/* Member css */
.member-form-header{padding: 0;border-bottom: none;}
.tabs-sect{border-bottom: none !important;}
.tabs-sect .css-1ujnqem-MuiTabs-root {
  border: none;
  background: transparent;
  font-family: 'ProximaNova-Bold';
  min-height: 21px !important;
}

.tabs-sect .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  margin-right: 15px;
  padding: 13px !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-transform: capitalize !important;
  min-height: 21px !important;font-family:'ProximaNova-Bold' !important;color: rgba(30, 30, 30, 0.5);
}
.tabs-sect .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  
  color: #F7A823 !important;
}
.tabs-sect .css-1aquho2-MuiTabs-indicator{background-color: #F7A823;}

.tabs-sect .css-1gsv261 {
  border-bottom: none !important;
}

.filter-select-field .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #1E1E1E99;
}

.member-filter-left {
  flex: 0 0 50%;
  max-width: 50%;
}

.member-filter-right {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
}
.filter-select-wrap {
  justify-content: flex-start;
}
.filter-select-field{margin-right: 10px;}
.filter-select-field:last-child{margin-right: 0;}
.filter-select-field .MuiInputBase-input {
  padding: 0px 35px 0 14px !important;
  color: #1E1E1E80 !important;
}

.member-info-wrapper .css-19kzrtu {
  padding: 30px 0;
}



.searchbar {
  flex: 0 0 65%;
  max-width: 65%;
  position: relative;
  margin-right: 10px;
}

.searchbar input {
  width: 100%;
  height: 45px;
  padding: 0 15px 0 34px;
  border: 1px solid rgba(30, 30, 30, 0.5);
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  color: #1E1E1E;font-family: 'ProximaNova-Regular';
}

.searchbar input:focus {
  border-color: #4596D1;
}

.searchbar button {
  position: absolute;
  left: 4px;
  top: 5px;
  height: 38px;
  width: 26px;
  appearance: none;
  background: #fff;
  border: none;
}

.searchbar .fa-search {
  color: #1E1E1E99;
}

.member-filter-wrap {
  margin: 30px 0;
}


/* Checkbox css */
/* input[type=checkbox] {
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;	
}

input[type=checkbox]:before {
	font-family: "FontAwesome";
    content: "\f00c";
    font-size: 14px;
    color: transparent;
    background: #fff;
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #1E1E1E;
}

input[type=checkbox]:checked:before {
  border-color: #4596D1;
	color: #4596D1;
} */


/* View member css */
.card-form-three-field {flex: 0 0 31.5%;max-width: 31.5%;}
.crud-operation{width: 26px;height: 26px;background: rgba(30, 30, 30, 0.2);border-radius: 100%;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.crud-operation svg{color: #1E1E1E;font-size: 20px;}
.crud-toggle-wrap{width: 110px;background: #fff;box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.302);padding: 11px 0;display: none;top: 35px;display: block;position: absolute;left: -84px;;}
.crud-toggle-list li{font-size: 14px;color: #1E1E1E;font-family: 'ProximaNova-Regular';list-style-type: none;padding: 4px 15px;cursor: pointer;}
.crud-toggle-list li:hover{background: #e8e8e8}
.form-header-right-txt{position: relative;}
.form-header-link{display: flex;align-items: center;cursor: pointer;}
.view-member-filter .searchbar{flex: 0 0 58%;max-width: 58%;}
/* Popup css */
.popup-box{width: 734px !important;;background: #fff;box-shadow: 0px 3px 15px #00000029;border-radius: 10px;border: none !important;padding: 0 !important;outline: none;}
.popup-ttl{font-size: 18px !important;line-height: 18px !important;color: #1D354D;text-align: center;font-family: 'ProximaNova-Bold' !important;}
.popup-body{padding: 30px;}
.popup-content-blk p{font-size: 14px;color: #1E1E1E;margin: 0 auto 30px;max-width: 85%;}
.popup-ttl-blk{border-bottom: 1px solid rgba(30, 30, 30, 0.5);padding: 30px 0;position: relative;outline: none;}
.popup-close-icon {position: absolute;top: 27px;right: 30px;cursor: pointer;}
.popup-blk .css-sox5kk-MuiBackdrop-root{background-color: rgba(0, 0, 0, 0.6);}


/* Radio button css */
.radio-btn {
  display: flex !important;
  flex-direction: row !important;
}
.radio-btn .MuiFormControlLabel-label{font-family: 'ProximaNova-Regular';font-size: 14px;
  color: #1E1E1E;}
.radio-btn .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{color: #4596D1;}
.radio-btn .css-vqmohf-MuiButtonBase-root-MuiRadio-root{color: #707070;}
.radio-btn svg{font-size: 17px;}
.radio-btn svg:first-child path{color: #707070 ;}
.radio-btn label{margin-right: 30px;}
.checkbox-mui{color: #0082C9;}